{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	  <!-- Font -->
      <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600%7CUbuntu:300,400,500,700" rel="stylesheet">
    
      <!-- CSS -->
      <link rel="stylesheet" href="{% static 'css/bootstrap-reboot.min.css' %}">
      <link rel="stylesheet" href="{% static 'css/bootstrap-grid.min.css' %}">
      <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
      <link rel="stylesheet" href="{% static 'css/jquery.mCustomScrollbar.min.css' %}">
      <link rel="stylesheet" href="{% static 'css/nouislider.min.css' %}">
      <link rel="stylesheet" href="{% static 'css/ionicons.min.css' %}">
      <link rel="stylesheet" href="{% static 'css/plyr.css' %}">
      <link rel="stylesheet" href="{% static 'css/photoswipe.css' %}">
      <link rel="stylesheet" href="{% static 'css/default-skin.css' %}">
      <link rel="stylesheet" href="{% static 'css/main.css' %}">
      
      <!-- Favicons -->
      <link rel="icon" type="image/png" href="{% static 'icon/favicon-32x32.png' %}" sizes="32x32">
      <link rel="apple-touch-icon" href="{% static 'icon/favicon-32x32.png' %}">
      <link rel="apple-touch-icon" sizes="72x72" href="{% static 'icon/apple-touch-icon-72x72.png' %}">
      <link rel="apple-touch-icon" sizes="114x114" href="{% static 'icon/apple-touch-icon-114x114.png' %}">
      <link rel="apple-touch-icon" sizes="144x144" href="{% static 'icon/apple-touch-icon-144x144.png' %}">

<style>
    /* main.css */
.alert-success-custom {
    color: white;
    background-color: #28a745; /* You can adjust the background color if needed */
    border-color: #28a745;
}

</style>

	<meta name="description" content="">
	<meta name="keywords" content="">
	<meta name="author" content="Dmitry Volkov">
	<title>FlixGo – Online Movies, TV Shows & Cinema HTML Template</title>

</head>
<body class="body">
    <!-- header -->
    <header class="header">
        <div class="header__wrap">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="header__content">
                            <!-- header logo -->
                            <a href="{% url 'home_view' %}" class="header__logo">
                                <img src="{% static 'img/logo.svg' %}" alt="">
                            </a>
                            <!-- end header logo -->
                            <!-- header nav -->
                            <li class="header__nav-item">
                                <a href="{% url 'home_view' %}" class="header__nav-link">Home</a>
                            </li>
                            <li class="header__nav-item">
                                <a href="{% url 'add_trailer' %}" class="header__nav-link">Add Movies</a>
                            </li>
                                     
                            <li class="header__nav-item">
                                <a href="{% url 'category' %}" class="header__nav-link">Category</a>
                            </li>
                            
                                <li class="header__nav-item">
                                    <a href="{% url 'profile_view' %}" class="header__nav-link">Profile</a>
                                </li>
                         
                            
                            </ul>
                            <!-- end header nav -->
<!-- header auth -->
<div class="header__auth">
    {% if username %}
        <span style="color: rgb(247, 22, 60);">Logged in as: </span>
        <div></div>
        <span style="color: white;">{{ username }}</span>
    {% else %}
        <span>Not logged in</span>
    {% endif %}
    <a href="{% url 'logout' %}" class="header__sign-in" id="logoutButton">
        <i class="icon ion-ios-log-in"></i>
        <span>Logout</span>
    </a>
</div>
<!-- end header auth -->




                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- header search -->
            <form action="#" class="header__search">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="header__search-content">
                                <input type="text" placeholder="Search for a movie, TV Series that you are looking for">
                                <button type="button">search</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <!-- end header search -->
        </header>
        <!-- end header -->

                          
                      

    <!-- home -->
    <section class="home">
        <!-- home bg -->
        <div class="owl-carousel home__bg">
            <div class="item home__cover" data-bg="{% static 'img/home/home__bg.jpg' %}"></div>
            <div class="item home__cover" data-bg="{% static 'img/home/home__bg2.jpg' %}"></div>
            <div class="item home__cover" data-bg="{% static 'img/home/home__bg3.jpg' %}"></div>
            <div class="item home__cover" data-bg="{% static 'img/home/home__bg4.jpg' %}"></div>
        </div>
        <!-- end home bg -->


<!-- Display messages -->
<div class="container">
    <div class="row">
        <div class="col-12">
            {% if messages %}
            <div id="messages">
                {% for message in messages %}
                <div class="alert alert-{{ message.tags }} {% if message.tags == 'success' %}alert-success-custom{% endif %}">
                    {{ message }}
                </div>
                {% endfor %}
            </div>
            <script>
                // Function to hide messages after 2 seconds
                setTimeout(function() {
                    var messagesDiv = document.getElementById('messages');
                    if (messagesDiv) {
                        messagesDiv.style.display = 'none';
                    }
                }, 2000);
            </script>
            {% endif %}
        </div>
    </div>
</div>


<div class="container">
    <h1>
        <span style="color: white;">ALL</span>
        <span style="color: rgb(199, 60, 83);">MOVIES</span>
    </h1>
    <div class="row">
        <div class="col-md-12">
            <div class="scrolling-container" style="overflow: hidden;">
                <div class="scrolling-content" style="display: flex;">
                    {% for trailer in trailers %}
                    <div class="card" style="margin-right: 10px; width: 300px; background-color: #343a40;">
                        <a href="{% url 'trailer_detail' trailer.id %}" style="text-decoration: none; color: inherit;">
                            <img src="{{ trailer.cover_image.url }}" class="card-img-top" alt="{{ trailer.title }}" style="width: 100%; height: 200px; object-fit: cover;">
                            <div class="card-body">
                                <h5 class="card-title" style="color: white; font-size: 16px;">{{ trailer.title }}</h5>
                                <p class="card-text" style="color: white; font-size: 14px;">{{ trailer.description|truncatewords:9 }}</p>

                                <p class="card-text"><small class="text-muted" style="color: rgba(255, 255, 255, 0.7); font-size: 12px;">{{ trailer.category }}</small></p>
                                <!-- Check if the current user is the owner of the trailer -->
                                {% if trailer.username == username %}
                                <div style="margin-top: auto;">
                                    <!-- Edit Icon -->
                                    <a href="{% url 'edit_trailer' trailer.id %}" style="color: rgb(0, 60, 255); text-decoration: none; margin-right: 10px; display: inline-block;">
                                        <i class="fas fa-edit"></i> Edit
                                    </a>
                                    <!-- Delete Icon -->
                                    <form method="post" action="{% url 'delete_trailer' trailer.id %}" style="display: inline-block;">
                                        {% csrf_token %}
                                        <button type="submit" style="color: rgb(255, 0, 0); background-color: transparent; border: none;">
                                            <i class="fas fa-trash-alt"></i> Delete
                                        </button>
                                    </form>
                                </div>
                                {% endif %}
                            </div>
                            <div class="card-footer" style="background-color: #000000;">
                                <p class="card-text" style="color: white; margin-bottom: 0;">IMDB: <i class="icon ion-ios-star" style="color: rgb(238, 255, 0);"></i>{{ trailer.rating}}</p>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="scroll-buttons">
                <button class="scroll-left-btn"><i class="fa fa-chevron-left"></i></button>
                <button class="scroll-right-btn"><i class="fa fa-chevron-right"></i></button>
            </div>
        </div>
    </div>
</div>




<script>
    const scrollingContainer = document.querySelector('.scrolling-container');
    const scrollLeftBtn = document.querySelector('.scroll-left-btn');
    const scrollRightBtn = document.querySelector('.scroll-right-btn');

    scrollLeftBtn.addEventListener('click', () => {
        scrollingContainer.scrollBy({
            left: -300,
            behavior: 'smooth'
        });
    });

    scrollRightBtn.addEventListener('click', () => {
        scrollingContainer.scrollBy({
            left: 300,
            behavior: 'smooth'
        });
    });
</script>





                        </div>
                        <!-- Additional cards can be added here -->
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end home -->

    <!-- footer -->
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="footer__copyright">
                        <small><a target="_blank" href="https://www.templateshub.net">Templates Hub</a></small>
                        <ul>
                            <li><a href="#">Terms of Use</a></li>
                            <li><a href="#">Privacy Policy</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- end footer -->

 <!-- JavaScript -->
 <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
 <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
 <script src="{% static 'js/owl.carousel.min.js' %}"></script>
 <script src="{% static 'js/jquery.mousewheel.min.js' %}"></script>
 <script src="{% static 'js/jquery.mCustomScrollbar.min.js' %}"></script>
 <script src="{% static 'js/wNumb.js' %}"></script>
 <script src="{% static 'js/nouislider.min.js' %}"></script>
 <script src="{% static 'js/plyr.min.js' %}"></script>
 <script src="{% static 'js/jquery.morelines.min.js' %}"></script>
 <script src="{% static 'js/photoswipe.min.js' %}"></script>
 <script src="{% static 'js/photoswipe-ui-default.min.js' %}"></script>
 <script src="{% static 'js/main.js' %}"></script>
</body>

</html>


<!-- JavaScript for logout confirmation popup -->
<script>
    document.getElementById("logoutButton").addEventListener("click", function(event) {
        event.preventDefault(); // Prevent the default action (following the link)

        // Show confirmation dialog
        if (confirm("Are you sure you want to logout?")) {
            // If user confirms, proceed with logout
            window.location.href = "{% url 'signout' %}"; // Redirect to logout URL
        }
    });
</script>
